* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

#screen {
  width: 100%;
  /* border: 2px solid black; */
}

#navbar {
  width: 100%;
  height: 75px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 3.5%;
  height: 55px;
  /* border: 2px solid red; */
  padding-left: 60px;
}

#logo >a> img {
  width: 100%;
  height: 100%;
}

#nav {
  width: 35%;
  height: 55px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12.5px;
  font-weight: 700;
  color: #282c3f;
  padding-left: 40px;
}

#search {
  width: 35%;
  height: 55px;
  /* border: 2px solid red; */
  align-items: center;
}

#search > div {
  width: 95%;
  height: 35px;
  background-color: rgb(245, 245, 246);
  text-align: center;
  padding: auto;
  padding-top: 10px;
  margin-top: 5px;
}

#search > div > .fa-magnifying-glass {
  color: rgb(115, 116, 138);
  padding-right: 5px;
}

#search > div > input {
  border: none;
  outline: none;
  background-color: rgb(245, 245, 246);
  width: 90%;
}

#profile {
  width: 15%;
  height: 55px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#profile > div {
  text-align: center;
  color: #282c3f;
}

#profile > div > a {
  text-align: center;
  color: #282c3f;
  font-size: 12px;
  font-weight: 700;
}

#body {
  width: 100%;
  height: 700px;
  border: 2px solid white;
  background-color: #fdefeb;
}

#signin {
  width: 27%;
  height: 600px;
  /* border: 2px solid blue; */
  margin: auto;
  margin-top: 25px;
  background-color: white;
}

#signin > div:nth-child(1) > img {
  width: 100%;
}

#signin > div:nth-child(2) {
  font-size: 20px;
  margin-left: 25px;
  margin-top: 20px;
}

#signin > div:nth-child(3) {
  display: flex;
  width: 70%;
  height: 30px;
  border: 1px solid grey;
  margin-left: 25px;
  font-size: 12px;
  margin-top: 20px;
  padding: 5px;
}

#signin > div:nth-child(3) > p {
  border-right: 1px solid grey;
  padding: 7px;
}

#signin > div:nth-child(3) > input {
  border: none;
  outline: none;
  padding: 11px 62px 11px 10px;
}

#signin > div:nth-child(4) {
    display: flex;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: 600;
}

#signin > div:nth-child(4)>p:nth-child(2),p:nth-child(4){
    color: #ff3f6c;
}

#signin > div:nth-child(4)>p:nth-child(3){
    margin-right: 3px;
    margin-left: 3px;
}

#signin > div:nth-child(5){
    margin-top: 15px;
}

#signin > div:nth-child(5) > button {
  width: 88%;
  height: 36px;
  background-color: #ff3f6c;
  font-size: 12px;
  font-weight: 700;
  color: white;
  border: 2px solid #ff3f6c;
  border-radius: 3px;
  margin: 10px 20px;
}

#signin > div:nth-child(6){
    display: flex;
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
    margin-left:25px ;
}

#signin > div:nth-child(6)>p:nth-child(2){
    color: #ff3f6c;
}



